.search {
  width: 250px;
  background-color: #c0c0c0;
  color: #000;
  line-height: 28px;
  font-size: 20px;
  font-family: Arial, sans-serif;
  border: none;
  padding: 10px;
}

.search:focus {
  outline: 3px ridge #2d6bbb;
}

@media screen and (max-width: 768px) {
  .search {
    width: 100%;
  }
}
